 *{
  margin: 0;
 }
 .wrapper {
     max-width: 1200px; 
    width: 100%;
    margin: 0 auto;
  } 
  .header {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: auto;
  }
  .menu {
   
    display: inline-block;
    vertical-align: top;
    max-width: 1000px;
    width: 100%;
    height: 60px;
  }
  .menu__item{
   
    display: inline-block;
    width: 19.6%;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    
    
  }
  .strelca{
    display: block;
    margin-right: -100px;
    margin-top: -17px;
    transition: 0.5s;
     
  }
    
    .logo {
      padding: 20px 0px;
      width: 150px;
      height: 60px;
      text-align: center;
      box-sizing: border-box;
      color: #fff;
      font-family: Arial;
      font-weight: 900;
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
    }
    header{
      background-image: url(../img/27-ears.jpg);
      height: 700px;
      padding-left: 200px;
    }
    .rer{
      color: #ffffff;
      text-decoration: none;
      transition: 0.5s;
    }
    .rightmenu{
      
      color: #fff;
      background: #fd6005;
      border-radius: 10px;
      display: inline-block;
      width: 19.6%;
      height: 60px;
      text-align: center;
      box-sizing: border-box;
      padding: 20px 0;
      margin-top: 15px;
      transition: 0.5s;
    }
    .hr{
      color: #fd6005;
      margin-left: -300px;
      text-align: center;
    }
    .rt{
      color: #ffffff;
    }
    h1{
      display: block;
      padding-left: -100px;
      margin-top: 100px;

    }
    header h3 {
      display: block;
      color: #ffffff;
      margin-left: 165px;
      margin-bottom: 30px;
    }
    .tuch{
      border-radius: 10px;
      color: #ffffff;
      text-align: center;
      width: 100px;
      /* height: 50px; */
      padding: 10px;
      display: inline-block;
      background: #fd6005;
      margin-left: 280px;      
    }

    .menu__item :hover {
      color: #fd6005;

    }
    .red{
      transition: 0.5s;
    }
    .rightmenu:hover{
      background-color: #000000;
      .red{
        transform: rotate(-360deg);
      }
      .strelca{
        transform: scale(2.1);
       margin-right: -110px;
      }
      
    }
    .section1{
      background-color: #fff;
      height: 100%;
      display: flex;
      padding-left: 250px;
      
      /* justify-content: center; */
    }
    .block{
      display: block;
      border: solid;
      width: 400px;
      margin-left: 100px;
      margin-top: 30px;
      height: 450px;
      padding-top: 20px;
     
    }
    .img1{
      height: 350px;
      width: 380px;
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }
    .light{
      height: 5px;
      width: 200px;
      background-color: #000000;
      margin: auto;
      margin-bottom: 10px;
    }
    .rer2{
      text-decoration: none;
      color: #000000;
      display: block;
      padding-bottom: 20px;
      margin-left: 150px;
    }
    h2 {
      margin-left: 60px;
    }
   h5{
    margin-left: 150px;
    padding-top: 10px;
   }
   .tynov{
    display: block;
    background-color: #fd6005;
    width: 100%;
    height: 100px;
    
   }
   .rer3{
    text-decoration: none;
      color: #000000;
      display: block;
      padding-bottom: 20px;
     
      
   }
   .cc1{
    display: block;
    
    font-size: larger;
   }
  .tynov{
    display: block;
    color: #ffffff;
    display: flex;
    padding: 30px;
   }

  .tynov h3  {
    display: block;
    font-size:50px ;
    /* margin-right: 10px; */

  }
  
  .dev1{
    display: block;
    margin-left: 200px;
    padding-right: 100px;
  }
  .dev2{
    padding-right: 100px;
  }
  .dev3{
    padding-right: 100px;
  }
  .dev4{
    padding-right: 100px;
  }

  .tynov{
    padding-left: 200px;
  }













  


  .ertyu{
    margin-top: 50px;

  }
  h1{
    margin: 50px;
  }

  .errr{
    padding: 10px;
    margin-top: -10px;
    float: left;
  }

  .video{
    margin-top: 200px;
    width: 100%;
    height: 700px;
  }
  body{
    background-color: rgb(223, 255, 255);
  }


  footer{
    background: #26d8b1;
    height: 100px;
    display: flex;
    padding-top: 25px;
  
  }
  
  footer h3{
    color: #ffffff;
    padding-left: 500px;
    
  }